@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">POEC DOTNET Final Project</h1>

    <div>
        <p>En savoir plus <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        <p>En savoir plus sur les fruits <a href="https://www.pinterest.fr/marielnboucand/l%C3%A9gumes-et-fruits-rigolos/">rigolos</a>.</p>
    </div>


    
</div>
