html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

h1{
    font-size:150px;
    color:purple;
    font-weight:bolder;
    background-color:orangered;
}

.text-center >div{
    display:flex;
    justify-content:space-between;
    margin:auto;
}

.video{
    display:flex;
    justify-content:space-between;
}

.v1, .v2, .v3{
    width:33%;
    height:auto;
}

.form {
    width:50%;
    background-color: rgba(245, 250, 215,0.5);
    border-radius: 20px;
    padding: 2rem;
    margin:auto;
    display: block;
    justify-content: center;
}

#output{
    border:2px solid red;
    height:15rem;
    width:15rem;
}

